@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-gray-50 text-slate-800;
  background-image:
    radial-gradient(at 0% 0%, rgba(220, 220, 255, 0.5) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(220, 255, 240, 0.5) 0px, transparent 50%);
  background-attachment: fixed;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}